/* These styles are just to make it easier to see the blocks, initially. */
/* Clear them out once you’ve got your channel plugged in! */

body { padding: 2em; }

a { color: blue; }

section { max-width: 40em; }

