:root { --spacing: 16px; }

@media (min-width: 768px) {
	:root { --spacing: 32px; }
}



a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }


body { font-family: sans-serif; }

header {
	background-color: white;
	padding: var(--spacing);
	position: sticky;
	top: 0;
}

main { padding-bottom: 33vh; }

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(6 * var(--spacing)), 1fr));
}

li {
	aspect-ratio: 1;
	display: flex;
	filter: saturate(0);
	overflow: hidden;
}

img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}
