:root { --spacing: 16px; }

@media (min-width: 768px) {
	:root { --spacing: 32px; }
}



a { color: blue; }
em { font-style: italic; }
strong { font-weight: bold; }


body {
	font-family: sans-serif;
	background-color: #eee;
}

header {
	background-color: white;
	padding: var(--spacing);
	position: sticky;
	top: 0;
	z-index: 1;
}

ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(calc(6 * var(--spacing)), 1fr));
}

li { aspect-ratio: 1; }

figure {
	filter: saturate(0);
	overflow: hidden;
	word-break: break-word;
}

figure,
img {
	height: 100%;
	width: 100%;
}

img { object-fit: cover; }

.text-block .content {
	display: grid;
	gap: calc(var(--spacing) / 4);
	padding: calc(var(--spacing) / 4);
}
